<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="text-center">
			<%= render partial: 'flashes' %>
			<h1>Войти</h1>
		</div>
		<%= simple_form_for(:session, :url => sessions_path) do |f| %>
		<%= f.input :email, label: false, placeholder: 'Ваш эл.адрес', error: 'Поле обязательно к заполнению' %>
		<%= f.input :password, label: false, placeholder: 'Пароль', error: 'Поле обязательно к заполнению' %>
		<%= f.submit 'Войти' %>
		<% end %>
	</div>
</div>
</div>