<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="text-center">
      <h1 class="text-center">Добавить карточку</h1>
    </div>
    <%= render partial: 'flashes' %>
    <%= simple_form_for @card do |f| %>
    <%= f.input :original_text, label: 'Слово на английском', error: 'Поле обязательно к заполнению' %>
    <%= f.input :translated_text, label: 'Перевод слова на русский', error: 'Поле обязательно к заполнению' %>
    <%= f.submit 'Создать' %>
    <% end %>
  </div>
</div>
